// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #8CC0DA72;
$warning: #f2c037;

$matcher1: #E85E5E;
$matcher2: #D0F7F8;
$matcher3: #FAB5E3;
$matcher4: #FAC05E;


$highlight1: #FF6F61;
$highlight2: #e96dff;
$highlight3: #FAC05E;
$highlight4: #4aa6fd;

$highlight1Light: rgb(255,200,195);
$highlight2Light: rgb(249,212,255);
$highlight3Light: rgb(254,236,205);
$highlight4Light: rgb(211,234,255);